.row
  .col-md-8.col-md-offset-2
    h4 Your Vacations, Bro!
.row
  .col-md-8.col-md-offset-2
    table.table.table-bordered.table-hover
      tr
        th Title
        th Departure Date
        th Departure Airport
        th Arrival Date
        th Arrival Airport
      tr(ng-repeat='vacation in vacations', ng-click='show(vacation._id)')
        td {{vacation.title}}
        td {{vacation.departureDate | date:'mediumDate'}}
        td {{vacation.departureAirport}}
        td {{vacation.arrivalDate | date:'mediumDate'}}
        td {{vacation.arrivalAirport}}